.DS_Store
*.egg-info
*.py[cod]
.cache
.discovery.lock
.eggs
.python-version
.setupmeta.version
.tox
.venv*

.idea/
__pycache__/
build/
dist/
test-reports/

venv
venv/
staging/

.mypy_cache/

# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

debian/*.bak
debian/*.log
debian/*.debhelper
.nox

# Notebooks
notebooks/.ipynb_checkpoints/

# Profiling
prof
