repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: trailing-whitespace
      - id: flake8
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args:
          - --fix
          - lf
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.0
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic
          - types-setuptools
          - boto3-stubs
          - numpy
          - importlib-resources
        args:
          - --config-file=.mypy.ini
        exclude: ^tests/
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: .tox/pre-commit/bin/pylint
        require_serial: true
        language: system
        types: [python]
        verbose: true
fail_fast: true
